.header {
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.container {
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navlink a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.logo {
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
  color: #000;
}
